.Navbar {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #454664;
  z-index: 1000;
}

.profileImage {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 50%;
}

.profileBackground {
  background-color: #93b4bc;
  height: 60px;
}

.nav {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin-bottom: 5px;
}

.nav button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav button:focus {
  outline: none;
  border: none;
}

.nav button .icon + hr {
  font-size: 1rem;
}

.nav hr {
  width: 2rem;
  height: 2px;
  background-color: #b8c5d3;
  border: none;
  box-shadow: none;
  margin-left: auto;
  margin-right: auto;
}

.nav hr.invisible {
  background-color: transparent;
  border: none;
}

.icon {
  font-size: 2rem;
  color: #b8c5d3;
  transition: color 0.2s;
}

.nav li.active {
  background-image: linear-gradient(135deg, #679cf6, #4072ee);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 105%;
  padding-top: 5px;
  margin-bottom: 10px;
  box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.4);
}
.nav li.active .icon {
  color: #ffffff;
}

.nav li.active hr {
  display: none;
}
